<h1>Editing summit</h1>

<% form_for(@summit) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @summit %> |
<%= link_to 'Back', summits_path %>
